{% extends 'base.html' %}
{% block head %}
    <script src="/static/js/pages/actions_random_user.js"></script>
{% endblock %}


{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <a href="/dj/stat">Назад</a>
    <p>
    <div class="panel-group" id="accordion">
        {% for user in users %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                            <span>Случайный пользователь {{ user }} </span>
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse"  data-user_id="{{ user }}">
                    <div class="panel-body">
                        Text
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script type="text/template" id="actions_random_user">
        <table class="table">
        <tr>
            <th>id</th>
            <th>Действие</th>
            <th>Экран</th>
        </tr>
        <% _.each(rows, function(row){ %>
        <tr>
            <td><%= row[2] %></td>
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
        </tr>
        <% }); %>
    </table>
    </script>
    </div>
{% endblock %}



