{% extends 'base.html' %}
{% block head %}
    <script src="/static/js/pages/active_users.js"></script>
{% endblock %}


{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <a href="/dj/stat">Назад</a>
    <p>
    <ul class="nav nav-pills">
        <li class="active" value="7"><a href="#">7 дней</a></li>
        <li value="14"><a  href="#">14 дней</a></li>
        <li value="21"><a href="#">21 дней</a></li>
        <li value="28"><a href="#">28 дней</a></li>
    </ul>
    <p>
    <div id="space" class="top45"></div>
    <script type="text/template" id="active_users">
        <table class="table">
        <tr>
            <th>Дата</th>
            <th>Количество активных  пользователей</th>
        </tr>
        <% _.each(rows, function(row){ %>
        <tr>
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
        </tr>
        <% }); %>
    </table>
    </script>
    </div>
{% endblock %}



