
{% extends 'base.html' %}

{% block head %}
    <!-- <script src="/static/js/pages/visitors_per_some_days.js"></script> -->
{% endblock %}

{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <a href="/dj/stat">Назад</a>
        <h2 class="page-title">Конверсия новых пользователей в активных</h2>

        <div class="row">
            <form class="vpsd-filters-form filters-form" action="" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                {# {{ filters_form.as_p }} #}
                <table class="filters-form__period table">
                    <tr>
                        <td><label>Период для первого входа в приложение</label></td>
                        <td>{{ filters_form.start_first_enter }}</td>
                        <td>{{ filters_form.end_first_enter }}<span class="small">(включительно)</span></td>
                    </tr>
                    <tr>
                        <td><label>Период для активности <span class="small">(открытие каких-то экранов)</span></label></td>
                        <td>{{ filters_form.start_activity }}</td>
                        <td>{{ filters_form.end_activity }}<span class="small">(включительно)</span></td>
                    </tr>
                </table>

                <input type="submit" class="btn btn-defult" value="Показать"/>
            </form>
        </div>

        {% if results %}
            <div class="row">
                <h3>Распределение количества пользователей по количеству просмотренных ими экранов</h3>
                <table class="table">
                    <tr>
                        <th>Кол-во просмотренных экранов</th>
                        <th>Кол-во пользователей</th>
                    </tr>
                    
                    {% for r in results.items %}
                        <tr>
                            <td>{{ r.0 }}</td>
                            <td>{{ r.1 }}</td>
                        </tr>
                    {% endfor %}

                    {% if full_count_users %}
                        <tr>
                            <td>Итого пользователей:<div class="small">(впервые зашедших в указанный период и просмотревших хоть один экран за указанный период)</div></td>
                            <td>{{ full_count_users }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
