
{% extends 'base.html' %}

{% block head %}
    <!-- <script src="/static/js/pages/visitors_per_some_days.js"></script> -->
{% endblock %}

{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <a href="/dj/stat">Назад</a>
        <h2 class="page-title">Количество новых активных пользователей по дням</h2>

        <div class="row">
            <form class="vpsd-filters-form filters-form" action="" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                {# {{ filters_form.as_p }} #}
                <table class="filters-form__period table">
                    <tr>
                        <td><label>Период для первого входа в приложение</label></td>
                        <td>{{ filters_form.start_first_enter }}</td>
                        <td>{{ filters_form.end_first_enter }}<span class="small">(включительно)</span></td>
                    </tr>
                </table>

                <input type="submit" class="btn btn-defult" value="Показать"/>
            </form>
        </div>

        {% if results %}
            <div class="row">
                <table class="table">
                    <tr>
                        <th>Дата</th>
                        <th>Кол-во пользователей</th>
                    </tr>
                    
                    {% for r in results %}
                        <tr>
                            <td>{{ r.first_enter_date|date:"Y-m-d" }}</td>
                            <td>{{ r.user_id__count }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
