{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/datepicker3.css">
    <script type="application/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <script type="application/javascript" src="/static/js/bootstrap-datepicker.ru.js"></script>
    <script src="/static/js/pages/new_users_stat.js"></script>

{% endblock %}


{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <a href="/dj/stat">Назад</a>
    <p><br>
    <label for="detepicker">Выберете дату:</label> <input id="detepicker" class="datepicker" data-date-format="mm/dd/yyyy">
    <p>
    <ul class="nav nav-pills">
        <li class="active" value="5"><a href="#">5 дней</a></li>
    </ul>
    <div id="space" class="top45"></div>
    <script type="text/template" id="new_users_stat">
        <h4>Количество пользователей <%= count_users %></h4>
        <table class="table">
        <% _.each(rows, function(row){ %>
        <tr>
            <td><%= row[0] %></td>
            <td><b><%= row[1] %>%</b></td>
        </tr>
        <% }); %>
    </table>
    </script>
    </div>
{% endblock %}