{% extends 'base.html' %}
{% block head %}
    <script src="/static/js/pages/news_per_day.js"></script>
{% endblock %}


{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <a href="/dj/stat">Назад</a>
    <p>
    <ul class="nav nav-pills">
        <li class="active" value="1"><a href="#">За день</a></li>
        <li value="7"><a href="#">За 7 дней</a></li>
        <li value="30"><a href="#">За 30 дней</a></li>
    </ul>
    <p>
    <div id="space" class="top45"></div>
    <script type="text/template" id="news_per_day">
    <table class="table">
        <tr>
            <th>Количество пользователей</th>
            <th>Количество прочитанных новостей</th>
        </tr>
        <% _.each(rows, function(row){ %>
        <tr>
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
        </tr>
        <% }); %>
    </table>
    </script>
    <script type="text/temaplte" id="loading">
        <img src="/static/img/loader.gif">
    </script>
    </div>
{% endblock %}