{% extends 'base.html' %}
{% block head %}
    <script src="/static/js/pages/top_enters.js"></script>
{% endblock %}


{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <a href="/dj/stat">Назад</a>
    <p>
    <ul class="nav nav-pills">
        <li class="active" value="7"><a href="#">За неделю</a></li>
        <li value="14"><a href="#">За 2 недели</a></li>
        <li value="21"><a href="#">За 3 недели</a></li>
        <li value="28"><a href="#">За 4 недели</a></li>
    </ul>
    <p>
    <div id="space" class="top45"></div>
    <script type="text/template" id="top_enters">
    <table class="table">
        <tr>
            <th>Название экрана (landing screen name)</th>
            <th>Поличество посетителей</th>
        </tr>
        <% _.each(data, function(row){ %>
        <tr>
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
        </tr>
        <% }); %>
    </table>
    </script>
    </div>
{% endblock %}