{% extends 'base.html' %}
{% block head %}
     <script src="/static/js/pages/unique_users.js"></script>
{% endblock %}

{% block content %}
     <div class="col-md-8 col-md-offset-2">
    <a href="/dj/stat">Назад</a>
    <p>

    <div id="space" class="top45"></div>
    <script type="text/template" id="unique_users">
        <h3>Количество уникальных пользователей</h3>
        <table class="table">
            <tr>
                <th>15 дней</th>
                <th>30 дней</th>
                <th>60 дней</th>
            </tr>
            <tr>
                <td><%= row[0] %></td>
                <td><%= row[1] %></td>
                <td><%= row[2] %></td>
            </tr>
        </table>
    </script>
    </div>
{% endblock %}