
{% extends 'base.html' %}

{% block head %}
    <script src="/static/js/pages/visitors_per_some_days.js"></script>
{% endblock %}

{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <a href="/dj/stat">Назад</a>
        <h2 class="page-title">Пользователи, просмотревшие экраны за несколько дней</h2>

        <div class="row">
            <form class="vpsd-filters-form filters-form" action="" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                {# {{ filters_form.as_p }} #}
                <div class="filters-form__period">
                    <label>Период</label> {{ filters_form.start }} - {{ filters_form.end }}
                </div>

                <p></p>

                <table class="table">
                    <tr>
                        <th>Экран</th>
                        <th>
                            <p>Кол-во</p>
                            <p class="small">Кол-во просмотревших только этот экран</p>
                        </th>
                        <th>
                            <p>Пересечение</p>
                            <p class="small">Кол-во просмотревших этот и все указанные выше экраны</p>
                        </th>
                    </tr>

                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid1 count=results.nid1.count cross_count=results.nid1.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid2 count=results.nid2.count cross_count=results.nid2.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid3 count=results.nid3.count cross_count=results.nid3.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid4 count=results.nid4.count cross_count=results.nid4.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid5 count=results.nid5.count cross_count=results.nid5.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid6 count=results.nid6.count cross_count=results.nid6.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid7 count=results.nid7.count cross_count=results.nid7.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid8 count=results.nid8.count cross_count=results.nid8.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid9 count=results.nid9.count cross_count=results.nid9.cross_count %}
                    {% include "blocks/vpsd_filters_nid_field.html" with field=filters_form.nid10 count=results.nid10.count cross_count=results.nid10.cross_count %}

                </table>
                <input type="submit" class="btn btn-defult" value="Показать"/>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="vpsd-nids-list" tabindex="-1" role="dialog" aria-labelledby="vpsd-nids-list__label" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="vpsd-nids-list__label">Выбор экрана</h4>
                  </div>
                  <div class="modal-body">
                      Заголовок экрана: <input type="text" class="vpsd-nids-list__search">
                      <div class="small">
                        Начните вводить часть заголовка и отобразяться подходящие
                      </div>
                      <ul class="vpsd-nids-list__items"> </ul>
                      <ul class="vpsd-base-nids-list__items"> </ul>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
{% endblock %}
