<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block head %}
    {% endblock %}
    <title>Статистика</title>
</head>
<body>
    <div class="header container">
        {% block header %}
        {% endblock %}
    </div>

    <div class="container top30">
    <div id="alert_box"></div>
    <button id="refresh" class="btn bg-primary"><span class="glyphicon glyphicon-refresh"></span> Обновить данные</button>
    {% block content %}
    {% endblock %}
    </div>
    <script type="text/tempalte" id="loading">
        <img src="/static/img/loader.gif">
    </script>
    <script type="text/template" id="refresh_alert">
        <div class="alert alert-success  fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Данные обновлены
        </div>
    </script>
</body>
</html>
