{% extends 'base.html' %}

{% block content %}
<form action="{% url 'django.contrib.auth.views.login' %}" method="POST" accept-charset="utf-8"> {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Отправить"/>
        <input type="hidden" value="{% url 'front_page' %}" name="next"/>
    </form>
{% endblock %}
