{%  extends 'base.html' %}
{% load authentication %}

{% block header %}
    {{ block.super }}

    <div class="user-menu row">
        <div class="col-md-4 col-md-offset-8 text-right">
            {% auth_menu %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
          <li class="list-group-item"><a href="/dj/stat/news_per_day">Сколько новостей читают пользователи:</a></li>
          <li class="list-group-item"><a href="/dj/stat/in_a_row">Сколько пользователей одних и тех же заходят в приложение каждый день</a> </li>
          <li class="list-group-item"><a href="/dj/stat/top_enters">Самые частые экраны входа в приложение</a></li>
          <li class="list-group-item"><a href="/dj/stat/visits_per_day">Сколько раз заходит в приложение в день пользователь (долгий запрос)</a></li>
          <li class="list-group-item"><a href="/dj/stat/active_users">Количество активных пользователей по дням</a></li>
          <li class="list-group-item"><a href="/dj/stat/inactive_users">Неактивные пользователи за 30 дней</a></li>
          <li class="list-group-item"><a href="/dj/stat/actions_random_user">Действия случаного пользователя</a></li>
          <li class="list-group-item"><a href="/dj/stat/new_users_stat">Статистика по новым пользователям</a></li>
          <li class="list-group-item"><a href="/dj/stat/unique_users">Уникальные пользователи</a></li>

          <li class="list-group-item"><a href="{% url "visitors_per_some_days" %}">Пользователи, просмотревшие экраны за несколько дней</a></li>
          <li class="list-group-item"><a href="{% url "convercion_new_users_to_active" %}">Конверсия новых пользователей в активных</a></li>
          <li class="list-group-item"><a href="{% url "count_new_active_users_by_day" %}">Количество новых активных пользователей по дням</a></li>
          
        </ul>
    </div>
{% endblock %}
