{% extends 'base.html' %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <A HREF="javascript:history.go(-1)">Назад</A>
    <p>За последний месяц
    <table class="table">
    <tr>
        <th>Название экрана (landing screen name)</th>
        <th>Поличество посетителей</th>
    </tr>
    {% for row in data %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}